<h2>Here are the signers {{#if city}} from {{city}} {{/if}}</H2>


    {{#signerList}}
    <p>
        {{first}}
        {{last}}
        {{age}}
        <a href="/signers/{{city}}">{{city}}</a>
        <a href="{{url}}" target="_blank">{{url}}</a>
    </p>
    {{/signerList}}

{{#if city}}
    <a href="/signers">See all signers</a>
{{/if}}
    <a href="/signed">See your signature</a>
    <a href="/logout">Log out</a>
