<h1>Your fellow signatories {{#if city}} from {{city}} {{/if}}</H1>

    {{#signerList}}
    <p>
        {{first}}
        {{last}}
        {{age}}
        <a class="notButton" href="/signers/{{city}}">{{city}}</a>
        <a class="notButton" href="{{url}}" target="_blank">{{url}}</a>
    </p>
    {{/signerList}}
{{#if city}}
<button class="submit">
    <a href="/signers">See all signers</a>
</button>
{{/if}}
<button class="submit">
    <a href="/signed">See your signature</a>
</button>
{{>logout}}
