<h2>Here is the list of signers</H2>


    {{#signerList}}
    <p>
        {{first}}
        {{last}}
        {{age}}
        <a href="/signers/{{city}}">{{city}}</a>
        <a href="{{url}}" target="_blank">{{url}}</a>
    </p>
    {{/signerList}}

    <a href="/">Home</a>
